/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

.theme-default-content:not(.custom){
    max-width: 1240px;
}
.page-nav{
    max-width: 1240px;
}
.page-edit{
    max-width: 1240px;
}
.theme-default-content code{
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}